@import '../global/global-color.scss';

.search-bar-container {
  display: flex;
  position: relative;
  width: 100%;
  margin: 1em 0 4em 0;

  .search-bar {
    background: transparent;
    font-size: 1.1875rem;
    line-height: 25px;
    font-weight: 400;
    font-family: inherit;
    -webkit-appearance: none;
    border: 1px solid $border-gray;
    border-radius: $dongdong-radius;
    box-shadow: $dongdong-shadow;
    transition: border 0.3s ease;
    width: 100%;
    padding: 0.7rem 4rem 0.7rem 1.5rem;

    &:focus {
      outline: none;
    }
  }
  .search-icon-wrapper {
    position: absolute;
    right: 0.5rem;
    width: 3rem;
    height: 3rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;

    svg {
      width: 2em;
      height: 2rem;
    }
  }
}
