.store-wrapper {
  margin-top: 1.4727272727rem;
  display: grid;
  grid-gap: 1.2181818182rem;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));

  .store-component-details {
    display: block;

    .store-image-section {
      max-width: 150px;
      overflow: hidden;
      margin: auto;

      .store-cover-image {
        width: 100%;
        object-fit: contain;
        height: auto;
      }
    }

    .store-info-section {
      .store-info-base {
        .store-name {
          font-family: PAYW-Pro-Bold;
          font-size: 20px;
          margin: 0;
        }

        .store-info-etc {
        }
      }
    }
  }
}
